<a href="{{ .RelPermalink }}" class="card-link">

<!-- <div class="flex flex-col w-full bg-body dark:bg-darkmode-body border  shadow-lg rounded-lg overflow-hidden w-96 transition-transform duration-300 hover:scale-105" style="background-image: url('{{ .Params.image }}');"> -->
<div class="flex flex-col w-full bg-body dark:bg-darkmode-body border  shadow-lg rounded-lg overflow-hidden w-96 transition-transform duration-300 hover:scale-105" >
        <!-- <img class="w-full object-cover h_48" src="{{ .Params.image }}" alt="Remix-Portfolio-Template"/> -->
        <div class="flex flex-col flex-1 p-4 justify-between">
            <div>
              <h2 class="text-xl font-semibold ">{{ .Title }}</h2>
              <div class="project-details">
                  <p class="text-sm dark:text-darkmode-primary  mt-2">{{  .Description | truncate 120  }}</p>
                <div class="row items-start justify-between mt-3">
                    <div class="flex items-center">
                      <ul>
                        {{ $tags:= .Params.tech }}
                        {{ range $i,$p:= $tags }}
                          <li class="inline-block">
                            <span
                              class="bg-theme-light  dark:bg-darkmode-theme-light block rounded px-4 text-sm"
                            >
                              {{ . | humanize }}
                            </span>
                          </li>
                        {{ end }}
                      </ul>
                    </div>
                  </div>
                  <!-- {{ if .Params.private }} -->
                   <div class="mt-auto"><a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer" class="text-center btn btn-outline-primary transition-colors duration-300 rounded-lg px-4 py-2 block mt-4">View Project</a></div>
                  <!-- {{ end }} -->

                </div>
              </div>
        </div>
</div>
</a>

<style>
  .h_48{
    height: 120px;
  }
 /* .project-details{
    opacity: 0;
  }
  .project-details:hover{
    opacity: 1;
  }*/

  .card-link{
    text-decoration: none;
  }
</style>


